@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --accent-color: #3d7ea1;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, Segoe UI, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* Vertically center */
  justify-content: center;  /* Horizontally center */
  background-color: #f2f5f9; /* Light neutral background */
  overflow: hidden;
}

/* LOGIN BOX */
.wrapper {
  background-color: var(--base-color);
  width: min(90%, 400px);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* FORM STYLES */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}

form input {
  flex-grow: 1;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}

form input:hover {
  border-color: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--text-color);
}

div:has(input:focus) > label {
  background-color: var(--text-color);
}

form input::placeholder {
  color: var(--text-color);
}

/* BUTTON */
form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}

form button:hover,
form button:focus {
  background-color: var(--text-color);
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

/* ERROR HANDLING */
form div.incorrect label {
  background-color: #f06272;
}

form div.incorrect input {
  border-color: #f06272;
}

#error-message {
  color: #f06272;
}
